.main-image= image_tag 'dogs.jpeg'

.container

  %h1 Welcom to the Portsmouth Chesapeake Obedience Training Club

  %h4 Who We Are and What we are About

  %p The Portsmouth Chesapeake Obedience Training Club, Inc is a nonprofit organization composed of people who enjoy working and spending time with their dogs. We are interested in helping you train your dog to be a well mannered family member and a source of pride.

  %P Portsmouth Chesapeake Obedience Training Club, Inc (PCOTC) is an outgrowth of the Gosport Obedience Training Club which was first formed in 1949. The original club disbanded in 1960 and was reorganized in 1964. The club then adopted a new Constitution and By-laws and a new name which was approved by the American Kennel Club in April 1968. The PCOTC has been hosting AKC licensed Obedience Trials yearly since 1973.

  %p Our members are as varied as the breeds they own. Many participate in breed specific sports such as herding, field trials, hunt tests and lure coursing. Still others are involved in conformation, tracking, flyball, and agility. The foundation for success in all of these venues is obedience training and many members actively compete in obedience trials sanctioned by the AKC, UKC, and ASCA.

  %p The club participates yearly in a variety of community events offering obedience demonstrations at events such as the Suffolk Mutt Strut and the Bark in the Park. Some of our members have earned Therapy Dog International (TDI) certificates and their dogs visit local homes, retirement communities and area hospitals. We provide public education in canine good citizenship.

